.nav {
  &__largeur-menu {
    max-width: 1000px;
    margin: auto;
  }
  &__menu{
    background-color: $vertMelon;
    //height: 60px;
    padding: 1rem 0;
  }

  #icon_favoris:hover, #icon_favoris:active {
      background-image:url("../images/coeurPlein.png");
      background-size: 42px;
      background-repeat: no-repeat;
      background-position: center;

      // Inspiration pour l'animation: https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/
      animation: fadeInAnimation ease 800ms;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.footer {
  &__largeur-menu {
    max-width: 1000px;
    margin: auto;
  }
  &__menu{
    background-color: $vertMelon;
    height: 60px;
  }
}

// Test