.nav {
  &__largeur-menu {
    width: 90%;
    max-width: 1000px;
    margin: auto;
  }
  &__lien{
    font-family: "Caviar Dreams";
    font-weight: bold;
    text-decoration: none;
    &:hover,
    &:active{
      text-decoration: underline;
    }
  }
  &__menu{
    background-color: $vertMelon;
    height: 60px;
  }
}
.footer {
  &__largeur-menu {
    width: 90%;
    max-width: 1000px;
    margin: auto;
  }
  &__menu{
    background-color: $vertMelon;
    height: 60px;
  }
}