.nav {
  &__largeur-menu {
    max-width: 1000px;
    margin: auto;
  }
  &__menu{
    background-color: $vertMelon;
    //height: 60px;
    padding: 1rem 0;
  }
}
.footer {
  &__largeur-menu {
    max-width: 1000px;
    margin: auto;
  }
  &__menu{
    background-color: $vertMelon;
    height: 60px;
  }
}