.livreNouveautesEtiquette,
.livreAVenirEtiquette,
.etiquetteVidePourReplirLEspace {
  color: $background2;
  text-decoration: none;
  font-family: "Caviar Dreams";
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 50%;
  aspect-ratio: 5/1;
  margin-left: auto;
  position: relative;
  top: 3%;
  right: -10%;
  margin-right: 1rem;
  transform: rotate(-5deg);
}
.livreAVenirEtiquette {
  background-color: $rose;
  outline: $background2 solid 2px;

}
.livreNouveautesEtiquette {
  background-color: $vertMelon;
  text-decoration: $vertMelon underline solid;
  outline: $background2 solid 2px;

}
.livres__fiche {
  position: static;
  text-decoration: none;
}