/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/


/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */

$vertMelon : #CBE3B9;
$rose : #FDD5CE;
$background1 : #484141;
$background2 : #3C3737;
$lienNav : #484141;



/* Autres couleurs */
$hyperlien: $rose;

/** Points de rupture **/
$desktop : 601px;