
.ficheArtiste{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 20px 10px 20px ;
  max-width: 1300px;
  &__biblio{
    width: 90%;
    max-width: 1000px;
    margin: auto;
  }
  &__photo{
    width: fit-content;
    margin: auto;
  }
  &__url{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }
}
.auteursLivres{
  padding: 20px;
  &__titre{
    text-align: center;
    padding-bottom: 1.7rem;
    padding-top: 2.4rem;
    font-size: 2.4rem;
    margin: 0;
  }
  &__image{
     text-align: center;
   }
  &__liste{
    margin: auto;
    max-width: 60%;
  }
  &__titreReco {
    font-size: 24px;
  }
}
.auteursLivresAssocies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 730px) {
  .auteursLivresAssocies {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .auteursLivresAssocies {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    max-width: 1200px;

    &__fiche {
      margin-right: 40px;
      margin-left: 40px;
      position: relative;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    &__titre {
      margin: 0;
      padding-top: 8px;
      max-width: 300px;
      text-align: center;
    }
    &__image{
      text-align: start;
    }

    &__liste {
      padding-top: 45px;
      position: absolute;
      top: 0;
      right: 0;
      float: right;
      display: inline-block;
      width: 60%;
      margin: 0;
    }

    &__recon {
      list-style: none;
      padding-bottom: 1rem;
    }

    &__titreReco {
      font-size: 28px;
      padding-top: 2.5rem;
    }
  }
}