
ul.elements_fiche {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-bottom: 75px;
  flex-direction: column;
}
div.elements_droite{
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media(min-width: 1000px){
  ul.elements_fiche {
    flex-direction: row;
  }
  div.elements_droite {
    flex-direction: column;
  }
}

div.elements_droite {
  //padding-right: 40px;
  //padding-left: 40px;
  //display: flex;
  //flex-direction: column;
  //flex-wrap: wrap;

  li.prixCAN__livre {
    font-family: "Caviar Dreams";
    font-weight: Bold;
    font-size: 50px;
  }

  .categorie__livre {
    font-family: "Caviar Dreams";
    font-weight: Bold;
    font-size: 30px;
    text-transform: uppercase;
  }

  .lien-auteurs {
    margin-right: 10px;
    font-family:"Caviar Dreams";
    font-size: 25px;
    text-decoration: none;
  }

  .lien-auteurs:hover {
    color: #CBE3B9;
    filter: drop-shadow(0 0 0.75rem #CBE3B9);
  }

  div.format__livre {
    display: flex;

    button.papier, button.pdf {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 125px;
      height: 65px;
      font-family: "Caviar Dreams";
      font-size: 25px;
      background-color: #484141;
      color: #FDD5CE;
      border: 2px solid #FDD5CE;
    }

    button.papier:hover,
    button.pdf:hover {
      color: #CBE3B9;
      border: 2px solid #CBE3B9;
      filter: drop-shadow(0 0 0.75rem #CBE3B9);
    }

    button.pdf {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }

    button.papier {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  div.quantite {
    display: flex;
    height: 50px !important;
    margin-top: 20px;

    input#chiffre {
      width: 75px;
      font-size: 30px;
      text-align: center;
      //padding-left: 15px;
      background-color: #484141;
      color: white;
      //border: none;
    }

    p {
      font-size: 25px;
      margin: 10px;
    }

    p.moins {
      background-image: url("../images/moins.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
    }

    p.moins:hover {
      filter: drop-shadow(0 0 0.75rem #CBE3B9);
    }

    p.plus {
      background-image: url("../images/plus.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
    }

    p.plus:hover {
      filter: drop-shadow(0 0 0.75rem #CBE3B9);
    }

    p.chiffre {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  button.btnAjouter {
    font-size: 25px;
    background-color: #FDD5CE;
    color: #3C3737;
    width: 285px;
    height: 70px;
    border-radius: 10px;
    border: 1px #FDD5CE;
    margin-top: 30px;
    padding-bottom: 7%;
  }

  button.btnAjouter:hover {
    background-color: #CBE3B9;
    filter: drop-shadow(0 0 0.75rem #CBE3B9);
  }

  button.format-selectionne {
    color: #CBE3B9 !important;
    border: 2px solid #CBE3B9 !important;
    filter: drop-shadow(0 0 0.75rem #CBE3B9);
  }

  div a {
    .imgLivre {
      margin-right: 20px;
    }
  }

  div.livre__reconnaissances {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    border: 2px solid #FDD5CE;
    flex-direction: column;
    align-items: center;
  }

  h3.titreReconnaissances {
    color: #FDD5CE;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  li.uneReconnaissance {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

// Pour retirer les flèches sur l'input number (Quantité)
// Source: https://kodex.pierrelebedel.fr/css/retirer-fleches-inputs-number/
input{
  /* Firefox */
  -moz-appearance: textfield;

  /* Chrome */
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin:0;
  }
}
