ul.elements_fiche {
  display: flex;
  list-style-type: none;
  align-items: center;
}

div.elements_droite {
  padding-right: 40px;
  padding-left: 40px;

  li.prixCAN__livre {
    font-size: 50px;
  }
}

.lien-auteurs {
  margin-right: 10px;
}

div.format__livre {
  display: flex;

  div.format__papier {
    padding-right: 20px;
    font-size: 25px;
  }

  div.format__pdf {
    padding-left: 20px;
    font-size: 25px;
  }
}

div.quantite {
  display: flex;
  height: 50px !important;

  input#chiffre {
    width: 75px;
    font-size: 30px;
    text-align: center;
    padding-left: 15px;
  }

  p {
    font-size: 25px;
    margin: 10px;
  }

  p.moins {
    background-image: url("../images/moins.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
  }

  p.plus {
    background-image: url("../images/plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
  }

  p.chiffre {
    padding-left: 20px;
    padding-right: 20px;
  }
}

button.btnAjouter {
  font-size: 25px;
  background-color: #FDD5CE;
  color: #3C3737;
  width: 285px;
  height: 70px;
  border-radius: 10px;
  border: 1px #FDD5CE;
  margin-top: 30px;
}