/*footer*/
.footer{
  &__lien{
    color: $lienNav;
  }
  &__lien-mail {
    color: $rose;
  }
  &__info{
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 5rem;
  }
  &__info-1,
  &__info-2,
  &__info-3{
    max-width: 240px;
  }
}
