/*footer*/
#icon_position{
  background-position: -90px 0;
}
#icon_favoris{
  background-position: -225px 0;
}
#icon_compte{
  background-position: -315px 0;
}
.footer{
  background-color: $rose;
  height: 130px;
  &__largeur{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding-top: 2.5rem;
  }
  &__item{
    font-family: "Caviar Dreams";
    font-weight: bold;
    text-decoration: none;
    &:hover,
    &:active{
      text-decoration: underline;
    }
  }
  &__liste{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 2rem 0;
  }
  &__recherche{
    text-align: center;
    width: 41%;
  }
  &__barre {
    width: 305px;
    height: 35px;
  }
  &__titre {
    font-family: "watermelon";
    text-align: center;
    width: 33%;
    display: inline-block;
    height: 8rem;
    color: transparent;
    background-color: $rose;
    background-image: url("../images/deco/titre.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    &:hover,
    &:active {
      outline: $background1 solid 2px;
      border-radius: 3vh;
    }
  }
  &__icon{
    width: 25%;
    &:hover,
    &:active {
      outline: $background1 solid 2px;
      border-radius: 3vh;
    }
  }
  &__lien{
    color: $lienNav;
  }
  &__lien-mail {
    color: $rose;
  }
  &__info{
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 5rem;
  }
  &__info-1,
  &__info-2,
  &__info-3{
    max-width: 240px;
  }
}
