/*Header*/
#icon_position{
  background-position: -90px 0;
}
#icon_favoris{
  background-position: -225px 0;
}
#icon_compte{
  background-position: -315px 0;
}
.nav__barreRecherche {
  margin: 0;
}
.icon{
  background-image : url("../images/deco/sprite.png");
  width: 45px;
  height: 45px;
  display: inline-block;
}
.nav{
  background-color: $rose;
  height: 130px;
  &__ctn {
    height: 20rem;
  }
  &__largeur{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding-top: 3rem;
  }
  &__liste{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding-top: 2rem;
  }
  &__recherche{
    text-align: center;
    width: 33%;
  }
  &__barre {
    width: 305px;
    height: 35px;
  }
  &__titre {
    font-family: "watermelon";
    font-size: 5.8rem;
    text-decoration: none;
    text-align: center;
    width: 33%;
    color: $lienNav;
  }
  &__icon{
    width: 33%;
  }
  &__lien{
    color: $lienNav;
  }
}