.auteurs{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  max-width: 1300px;
  justify-content: center;
  &__fiche {
    margin-left :20px;
    margin-right: 20px;
  }
  &__nom{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  &__img{

  }
  div#infosAuteur {
    margin-left: 20px;
  }

  .imgAuteur {
    margin-right: 20px;
  }
}