.auteurs{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  width: 1000px;
  justify-content: center;
  &__fiche {
    margin-left :20px;
    margin-right: 20px;
    flex-basis: 30%;
  }
  &__nom{
    font-weight: bold;
    font-size: 2rem;
    margin-top: -0.5rem;
  }
}