/*Header*/
#icon_position{
  background-position: -138px 0;
}
#icon_favoris{
  background-position: -276px 0;
}
#icon_compte{
  background-position: -368px 0;
}
#icon_panier{
  background-position: -598px 0;
}
.icon{
  background-image : url("../images/deco/sprite.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: inline-block;
  &:hover,
  &:active {
    filter: drop-shadow(0 0 0.75rem $background2);
  }
}
.nav__barreRecherche {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    &__icon {
      background-position: -35px 0;
      background-image : url("../images/deco/sprite.png");
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
      background-size: cover;
      display: inline-block;
      &:hover,
      &:active {
        background-position: 0 0;
      }
    }
  }
}
@media (min-width: 800px) {
  .nav__barreRecherche {
    &__btn {
      &__icon {
        width: 35px;
        height: 35px;
      }
    }
  }
}
.nav{
  background-color: $rose;
  background-size: 12%;
  &__ctn {
    height: 20rem;
  }
  &__largeur{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 3rem 0;
    flex-direction: column;
  }
  @media (min-width: 800px) {
    &__largeur{
      flex-direction: row;
    }
  }
  &__largeur-menu {
    width: 90%;
    max-width: 1000px;
  }
  &__liste{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 2rem 0;
  }
  &__recherche{
    text-align: center;
    max-width: 480px;
    width: 80%;
  }
  @media (min-width: 800px) {
    &__recherche{
      width: 41%;
    }
  }
  &__barre {
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 0;
  }
  &__titre {
    font-family: "watermelon";
    text-align: center;
    width: 80%;
    max-width: 400px;
    display: inline-block;
    aspect-ratio: 19/3;
    color: transparent;
    background-image: url("../images/deco/titre.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2rem;
    &:hover,
    &:active {
      filter: drop-shadow(0 0 0.75rem $background2);
    }
  }
  @media (min-width: 800px) {
    &__titre{
      width: 33%;
      margin: 0;
    }
  }
  &__icon{
    max-width: 250px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  @media (min-width: 800px) {
    &__icon{
      width: 25%;
      margin: 0;
    }
  }
  &__lien{
    color: $lienNav;
    font-family: "Caviar Dreams";
    font-weight: bold;
  }
}

//Menu hamburger mobile
.nav__boutonMenu__icon {
  background-image : url("../images/deco/sprite.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 100%;
  background-size: cover;
  display: inline-block;
}
.btnMenu {
  background-color: transparent;
  border: none;
  margin: auto;
  width: 100%;
  height: 45px;
  display: block;
  padding: 0;
  &:hover,
  &:active {
    #icon_menuFerme {
      background-position: -736px 0;
    }
    #icon_menuOuvert {
      background-position: -782px 0;
    }
  }
}
@media (min-width: 800px) {
  .btnMenu {
    display: none;
  }
}
#icon_menuFerme {
  background-position: -644px 0;
}
#icon_menuOuvert {
  background-position: -690px 0;
}

.nav__menu {
  overflow: hidden;
  position: relative;
}
.nav__liste.ferme {
  display: none;
}
.nav__liste.ouvert {
  display: flex;
}
.nav__liste {
  flex-direction: column;
  text-align: center;
}
@media (min-width: 800px) {
  .nav__liste.ferme,
  .nav__liste.ouvert {
    flex-direction: row;
    display: flex;
    text-align: justify;
  }
}