.panierVide {
  background-color: $background2;
  padding: 3rem 0;
  margin-bottom: 5rem;
  & p {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 1rem auto;
  }
}
.panier {
  padding: 0;
  &__ligne {
    max-width: 80%;
  }
  &__item {
    width: 80%;
    min-width: 320px;
    padding: 4rem 1rem 5rem 1rem;
    display: flex;
    flex-direction: column;
    margin: auto;

    &__info {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;

      &__img {
        flex-basis: 35%;
      }
      &__txt {
          flex-basis: 60%;
        &__h2{
          margin: 0;
          padding: 0;
        }
        &__p {
          margin-bottom: 0;
        }
      }
    }

    &__quantitePrix {
      margin-top: 4rem;
      display: block;
      text-align: center;
    }
  }

  input[type=number] {
    width: 30px;
    height: 20px;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.4rem;
  }
}
  @media (min-width: 800px) {
    .panier {
      &__item {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 90%;
        max-width: 1000px;
        justify-content: space-around;

        &__info {
          text-align: start;
          flex-basis: 60%;

          &__img {

          }

          &__txt {
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__h2 {
              text-align: left;
              font-size: 2.4rem;
            }
          }
        }

        &__quantitePrix {
          margin-top: 25.5px;
          margin-bottom: 25.5px;
          flex-basis: 25%;
        }
      }
    }
  }

.total {
  width: 80%;
  min-width: 320px;
  max-width: 1000px;
  margin: 5rem auto;
  padding: 1rem;
  border: $vertMelon solid 0.3rem;
  border-radius: 0.5rem;
  filter: drop-shadow(0 0 0.75rem $vertMelon);
  background-color: $background1;
  & p:last-child {
    font-size: 1.8rem;
    font-weight: bold;
  }
  & p {
    padding-left: 30%;
  }
  & a {
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: $rose;
    font-size: 2.5rem;
    color: $background2;
    width: 28.5rem;
    height: 7rem;
    line-height: 7rem;
    border-radius: 1rem;
    border: 1px solid $rose;
    font-family: "Caviar Dreams";
    font-weight: bold;
    margin: 1.5rem auto 4rem auto;
    &:hover,
    &:active {
      background-color: $vertMelon;
      filter: drop-shadow(0 0 0.75rem $vertMelon);
    }
  }
}
