.panier {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 5rem;
  &__info {
    display: block;
    text-align: center;
  }
  &__quantitePrix {
    display: block;
    text-align: center;
  }
}
.quantite {
  width: 75px;
  font-size: 30px;
  text-align: center;
  background-color: #484141;
  color: white;
}

@media (min-width: 900px) {
  .panier {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: space-around;
    padding-bottom: 5rem;
    padding-top: 2rem;

    &__image {
      height: 150px;
      width: 100px;
    }

    &__info {
      display: flex;
      text-align: start;
    }

    &__texte {
      padding-left: 2rem;
    }

    &__quantitePrix {
      margin-top: 25.5px;
      margin-bottom: 25.5px;
    }
  }
  .quantite {
    width: 75px;
    font-size: 30px;
    text-align: center;
    background-color: #484141;
    color: white;
  }
}