@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 */
/*
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
/** Palette de couleurs **/
/* Couleurs de base */
/** Points de rupture **/
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** BASE ******/
/** Typographie **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
@font-face {
  font-family: "fruity stories";
  src: url("../fonts/Fruity Stories.ttf") format("truetype");
}
@font-face {
  font-family: "Caviar Dreams";
  src: url(../fonts/CaviarDreams.ttf) format("truetype");
}
@font-face {
  font-family: "watermelon";
  src: url(../fonts/Watermelon01.ttf) format("truetype");
}
html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
  color: white;
  font-family: Arial, sans-serif;
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 100px;
  font-size: 10rem;
  text-align: center;
  margin: 0;
  font-family: "fruity stories";
  color: #CBE3B9;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8rem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-family: "Caviar Dreams";
  font-size: 30px;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: #CBE3B9;
  display: inline-block;
  padding: 0 1rem;
  position: relative;
  z-index: 100;
}
h2.pale,
.titreNiveau2.pale {
  background-color: #484141;
}
h2.fonce,
.titreNiveau2.fonce {
  background-color: #3C3737;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8rem;
}

.ligne-h2 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.ligne-h2:after {
  content: "";
  width: 100%;
  height: 2px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #CBE3B9;
}

h3,
.titreNiveau3 {
  font-size: 25px;
  font-size: 2.5rem;
  font-family: "Arial";
  font-weight: bold;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2rem;
}

h4 {
  margin: 0.5px;
}

.texte {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.375;
  font-family: "Arial";
}
.texte--desktop {
  line-height: 1.5;
}

/*** Classe conteneur pour le centrage et l'affichage de la grille en arrière-plan ***/
@media (min-width: 600px) {
  .conteneur {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    background-color: white;
    /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
  }
}
/*** Classes pour dimensionner les blocs ***/
@media (min-width: 600px) {
  /*** Classe de base pour l'intégration en flexbox ***/
  .formulaire__don, .formulaire__montant {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* valeur par défaut */
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 1.5rem;
  }
  .cols_1_de_12 {
    width: 6.5%;
  }
  .cols_2_de_12 {
    width: 15%;
  }
  .cols_3_de_12 {
    width: 23.5%;
  }
  .cols_4_de_12 {
    width: 32%;
  }
  .cols_5_de_12 {
    width: 40.5%;
  }
  .cols_6_de_12 {
    width: 49%;
  }
  .cols_7_de_12 {
    width: 57.5%;
  }
  .cols_8_de_12 {
    width: 66%;
  }
  .cols_9_de_12 {
    width: 74.5%;
  }
  .cols_10_de_12 {
    width: 83%;
  }
  .cols_11_de_12 {
    width: 91.5%;
  }
  .cols_12_de_12 {
    width: 100%;
  }
}
/** Hyperliens **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
a {
  color: #FDD5CE;
}

/** Boutons **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
/****** Layouts et Modules ******/
/*Header*/
/*footer*/
.footer__lien {
  color: #484141;
}
.footer__lien-mail {
  color: #FDD5CE;
}
.footer__info {
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding-bottom: 5rem;
}
.footer__info-1, .footer__info-2, .footer__info-3 {
  max-width: 240px;
}

/*Header*/
#icon_position {
  background-position: -90px 0;
}

#icon_favoris {
  background-position: -225px 0;
}

#icon_compte {
  background-position: -315px 0;
}

#icon_panier {
  background-position: -540px 0;
}

.icon {
  background-image: url("../images/deco/sprite.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: inline-block;
}
.icon:hover, .icon:active {
  outline: #484141 solid 2px;
  border-radius: 1vh;
}

.nav__barreRecherche {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
}
.nav__barreRecherche__btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.nav__barreRecherche__btn__icon {
  background-image: url("../images/deco/sprite.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: cover;
  display: inline-block;
}

.nav {
  background-color: #FDD5CE;
  background-size: 12%;
  height: 130px;
}
.nav__ctn {
  height: 20rem;
}
.nav__largeur {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding-top: 3rem;
}
.nav__largeur-menu {
  width: 90%;
  max-width: 1000px;
}
.nav__liste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 2rem 0;
}
.nav__recherche {
  text-align: center;
  width: 41%;
}
.nav__barre {
  width: 90%;
  height: 35px;
  border: none;
  border-radius: 0;
}
.nav__titre {
  font-family: "watermelon";
  text-align: center;
  width: 33%;
  display: inline-block;
  height: 8rem;
  color: transparent;
  background-color: #FDD5CE;
  background-image: url("../images/deco/titre.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}
.nav__titre:hover, .nav__titre:active {
  outline: #484141 solid 2px;
  border-radius: 3vh;
}
.nav__icon {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.nav__lien {
  color: #484141;
  font-family: "Caviar Dreams";
  font-weight: bold;
}

/*Accueil*/
/*cette partie est aussi incluse dans la page index livres*/
.livres {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 90%;
  max-width: 1000px;
  justify-content: center;
}
.livres__fiche {
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
  flex-basis: 30%;
}
.livres__fiche__img {
  width: 100%;
}
.livres__auteurs {
  font-size: 1.4rem;
  margin-bottom: -0.5rem;
}
.livres__prix {
  font-weight: bold;
  font-size: 2rem;
  margin-top: -0.5rem;
}
.livres__titre {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.livres__lien {
  display: flex;
  justify-content: center;
  padding-bottom: 5.6rem;
}

/* fin de la partie aussi incluse dans index livre*/
/*Actualités et Évenements*/
.actualite__info {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.actualite__largeur {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
.actualite__lien {
  display: flex;
  justify-content: center;
  padding-bottom: 3.6rem;
  padding-top: 7.6rem;
  font-weight: bold;
}
.actualite__lien-article {
  float: right;
  padding-top: 1.6rem;
}

.evenement__info {
  padding-bottom: 4rem;
}
.evenement__largeur {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
.evenement__lien {
  display: flex;
  justify-content: center;
  padding-bottom: 7.6rem;
  padding-top: 7.6rem;
  font-weight: bold;
}

body {
  background-color: #484141;
  margin: 0;
}

.background {
  background-color: #3C3737;
}

.nav__largeur-menu {
  max-width: 1000px;
  margin: auto;
}
.nav__menu {
  background-color: #CBE3B9;
  height: 60px;
}

.footer__largeur-menu {
  max-width: 1000px;
  margin: auto;
}
.footer__menu {
  background-color: #CBE3B9;
  height: 60px;
}

.auteurs {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  width: 1000px;
  justify-content: center;
}
.auteurs__fiche {
  margin-left: 20px;
  margin-right: 20px;
  flex-basis: 30%;
}
.auteurs__nom {
  font-weight: bold;
  font-size: 2rem;
  margin-top: -0.5rem;
}

div.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

p.filAriane {
  margin-left: 75px;
}

ul.elements_fiche {
  display: flex;
  list-style-type: none;
  align-items: center;
}

div.elements_droite {
  padding-right: 40px;
  padding-left: 40px;
}
div.elements_droite li.prixCAN__livre {
  font-size: 50px;
}

div.format__livre {
  display: flex;
}
div.format__livre div.format__papier {
  padding-right: 20px;
  font-size: 25px;
}
div.format__livre div.format__pdf {
  padding-left: 20px;
  font-size: 25px;
}

div.quantite {
  display: flex;
}
div.quantite p {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.quantite p.chiffre {
  padding-left: 20px;
  padding-right: 20px;
}

button.btnAjouter {
  font-size: 25px;
  background-color: #FDD5CE;
  color: #3C3737;
  width: 285px;
  height: 70px;
  border-radius: 10px;
  border: 1px #FDD5CE;
}

/*# sourceMappingURL=styles.css.map */
