@charset "UTF-8";

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 */
@import "../../../node_modules/normalize.scss/normalize";
/*
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */

/****** Librairies ******/

/** Normalize **/


/**** UTILITAIRES ****/

/** Variables **/
@import 'utilitaires/variables';

/** Mixins **/
@import 'utilitaires/mixins';

/****** BASE ******/

/** Typographie **/
@import 'base/typo';

@import "base/grille";

/** Hyperliens **/
@import 'base/hyperlien';

/** Boutons **/
@import 'base/bouton';

/****** MODULES ******/
body {
  background-color: #484141;
}
.background {
  background-color: #3C3737;
}
/*Header*/
#icon_position{
  background-position: -90px 0;
}
#icon_favoris{
  background-position: -225px 0;
}
#icon_compte{
  background-position: -315px 0;
}
.nav__barreRecherche {
  margin: 0;
}
.icon{
  background-image : url("../images/deco/sprite.png");
  width: 45px;
  height: 45px;
  display: inline-block;
}
.nav{
  background-color: #FDD5CE;
  height: 130px;
  &__ctn {
    height: 20rem;
  }
  &__largeur{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding-top: 3rem;
  }
  &__largeur-menu{
    max-width: 1000px;
    margin: auto;
  }
  &__liste{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding-top: 2rem;
  }

  &__menu{
    background-color: #CBE3B9;
    height: 60px;
  }
  &__recherche{
    text-align: center;
    width: 33%;
  }
  &__barre {
    width: 305px;
    height: 35px;
  }
  &__titre {
    font-family: "watermelon";
    font-size: 5.8rem;
    text-decoration: none;
    text-align: center;
    width: 33%;
    color: #484141;
  }
  &__icon{
    width: 33%;
  }
  &__lien{
    color: #484141;
  }
}
/*Nouveauté et à venir*/
.livres {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 1000px;
  justify-content: center;
&__fiche {
  margin-left :20px;
  margin-right: 20px;
}
  &__auteurs{
    font-size: 1.2rem;
    margin-bottom: -0.5rem;
  }
  &__prix{
    font-weight: bold;
    font-size: 2rem;
    margin-top: -0.5rem;
  }
  &__titre{
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &__lien{
    display: flex;
    justify-content: center;
    padding-bottom: 5.6rem;
  }
}
/*Actualités et Évenements*/
.actualite{
  &__info {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  &__largeur{
    max-width: 1000px;
    margin: auto;
  }
  &__lien{
    display: flex;
    justify-content: center;
    padding-bottom: 3.6rem;
    padding-top: 7.6rem;
    font-weight: bold;
  }
  &__lien-article {
    float: right;
    padding-top: 1.6rem;
  }
}
.evenement{
  &__info{
    padding-bottom: 4rem;
  }
  &__largeur {
    max-width: 1000px;
    margin: auto;
  }
  &__lien{
    display: flex;
    justify-content: center;
    padding-bottom: 7.6rem;
    padding-top: 7.6rem;
    font-weight: bold;
  }
}
/*lien*/
a{
  color : #FDD5CE
}
/*footer*/
.footer{
  background-color: #FDD5CE;
  height: 130px;
  &__largeur{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding-top: 2.5rem;
  }
  &__largeur-menu{
    max-width: 1000px;
    margin: auto;
  }
  &__liste{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding-top: 2rem;
  }

  &__menu{
    background-color: #CBE3B9;
    height: 60px;
  }
  &__recherche{
    text-align: center;
    width: 33%;
  }
  &__barre {
    width: 305px;
    height: 35px;
  }
  &__titre {
    font-family: "watermelon";
    font-size: 5.8rem;
    text-decoration: none;
    text-align: center;
    width: 33%;
    color: #484141;
  }
  &__icon{
    width: 33%;
  }
  &__lien{
    color: #484141;
  }
  &__lien-mail {
    color: #FDD5CE;
  }
  &__info{
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 5rem;
  }
  &__info-1,
  &__info-2,
  &__info-3{
    max-width: 240px;
  }
}
